<a href="https://colab.research.google.com/github/henryspg/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_112_Make_Features_Assignment_henry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
import numpy as np

In [4]:
##### Begin Working Here #####


df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

print(df.shape)
df.head()

(1460, 81)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [5]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [6]:
# To create a new column (out of existing ones:  TotalBsmtSF,  1stFlrSF, 2ndFlrSF, SalePrice

dfnew = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']]
dfnew.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [7]:
dfnew['TotSqrFootage'] = dfnew['TotalBsmtSF'] + dfnew['1stFlrSF'] + dfnew['2ndFlrSF']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
dfnew.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotSqrFootage
0          856       856       854     208500           2566
1         1262      1262         0     181500           2524
2          920       920       866     223500           2706
3          756       961       756     140000           2473
4         1145      1145      1053     250000           3343

In [9]:
# Trying to see price per square foot: ['PricePerSfFt']
dfnew['PricePerSfFt'] = (dfnew['SalePrice'] / dfnew['TotSqrFootage'])
dfnew.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotSqrFootage  PricePerSfFt
0          856       856       854     208500           2566     81.254871
1         1262      1262         0     181500           2524     71.909667
2          920       920       866     223500           2706     82.594235
3          756       961       756     140000           2473     56.611403
4         1145      1145      1053     250000           3343     74.783129

***Using  LoanStats_2018Q4.csv*** - Lending Club

In [10]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-05-06 02:38:24--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 34.211.18.146, 52.89.161.10, 54.68.72.83
Connecting to resources.lendingclub.com (resources.lendingclub.com)|34.211.18.146|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [            <=>     ]  22.05M  2.02MB/s    in 12s

2020-05-06 02:38:37 (1.89 MB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [23121687]

In [126]:
!unzip LoanStats_2018Q4.csv

Archive:  LoanStats_2018Q4.csv
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
# dg = pd.read_csv('LoanStats_2018Q4.csv')
# colnames = ['id', 'term', 'int_rate', 'loan_status', 'issue_d', 'total_pymnt', 'last_pymnt_d', 'next_pymnt_d']
dg = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine="python")
dg = dg[['id', 'term', 'int_rate', 'loan_status', 'issue_d', 'total_pymnt', 'last_pymnt_d', 'next_pymnt_d']]

In [34]:
print(dg.shape)
dg.head()

(128412, 8)

   id        term int_rate  ...   total_pymnt last_pymnt_d  next_pymnt_d
0 NaN   60 months   16.14%  ...  10661.057727     May-2019           NaN
1 NaN   36 months   11.80%  ...   3222.810000     Mar-2020      Apr-2020
2 NaN   36 months   11.31%  ...   4549.217149     Feb-2019           NaN
3 NaN   60 months   14.47%  ...   5848.050000     Oct-2019           NaN
4 NaN   60 months   27.27%  ...  13745.470000     Mar-2020      Apr-2020

[5 rows x 8 columns]

In [42]:
# Check  column term:  All contains and does not contain "month"

# dg1 = dg[dg['term'].str.contains("mon")] 
# dg1


dg1 = dg[~dg['term'].str.contains("mon")] 
dg1

Empty DataFrame
Columns: [id, term, int_rate, loan_status, issue_d, total_pymnt, last_pymnt_d, next_pymnt_d]
Index: []

column 'term'  has all rows with "months"

In [43]:
dg['loan_status'].value_counts()

Current               88581
Fully Paid            28378
Charged Off            8016
Late (31-120 days)     2055
In Grace Period         732
Late (16-30 days)       327
Default                 323
Name: loan_status, dtype: int64

In [44]:
dg[['term', 'int_rate']].dtypes

term        object
int_rate    object
dtype: object

In [0]:
dg['term'] = dg['term'].str.strip(" months")

In [0]:
dg['term'] = dg['term'].astype(int)

In [47]:
dg.dtypes

id              float64
term              int64
int_rate         object
loan_status      object
issue_d          object
total_pymnt     float64
last_pymnt_d     object
next_pymnt_d     object
dtype: object

Convert the term column from string to integer.

Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

Make last_pymnt_d_month and last_pymnt_d_year columns.

LOAN STATUS is ***GREAT***

In [48]:
dg['loan_status_is_great'] = np.where((dg['loan_status'] == 'Current') | (dg['loan_status'] == 'Fully Paid'), 1, 0)
dg['loan_status_is_great']

0         1
1         1
2         1
3         0
4         1
         ..
128407    0
128408    1
128409    1
128410    1
128411    1
Name: loan_status_is_great, Length: 128412, dtype: int64

***last_pymnt_d_month and last_pymnt_d_year ***

last_pymnt_d_month

In [49]:
dg[['last_pymnt_d', 'total_pymnt']].dtypes

last_pymnt_d     object
total_pymnt     float64
dtype: object

In [0]:
dg['last_pymnt_d_month'] = dg['last_pymnt_d'].str.split('-', expand=True)[0]

In [71]:
dg['last_pymnt_d_month']

0         May
1         Mar
2         Feb
3         Oct
4         Mar
         ...
128407    Dec
128408    Apr
128409    Apr
128410    Apr
128411    Apr
Name: last_pymnt_d_month, Length: 128412, dtype: object

In [73]:
dg.head()

   id  term int_rate  ... next_pymnt_d loan_status_is_great  last_pymnt_d_month
0 NaN    60   16.14%  ...          NaN                    1                 May
1 NaN    36   11.80%  ...     Apr-2020                    1                 Mar
2 NaN    36   11.31%  ...          NaN                    1                 Feb
3 NaN    60   14.47%  ...          NaN                    0                 Oct
4 NaN    60   27.27%  ...     Apr-2020                    1                 Mar

[5 rows x 10 columns]

last_pymnt_d_year

In [0]:
dg['last_pymnt_d_year'] = dg['last_pymnt_d'].str.split('-', expand=True)[1]

In [75]:
dg['last_pymnt_d_year']

0         2019
1         2020
2         2019
3         2019
4         2020
          ...
128407    2018
128408    2020
128409    2020
128410    2020
128411    2020
Name: last_pymnt_d_year, Length: 128412, dtype: object

In [76]:
dg.head()

   id  term int_rate  ... loan_status_is_great last_pymnt_d_month  last_pymnt_d_year
0 NaN    60   16.14%  ...                    1                May               2019
1 NaN    36   11.80%  ...                    1                Mar               2020
2 NaN    36   11.31%  ...                    1                Feb               2019
3 NaN    60   14.47%  ...                    0                Oct               2019
4 NaN    60   27.27%  ...                    1                Mar               2020

[5 rows x 11 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01